DATABASE_URL="postgresql://postgres:VOTRE_MOT_DE_PASSE@localhost:5432/apifirst?schema=public"
JWT_SECRET="changez-moi-en-production-32-caracteres-min"
JWT_EXPIRES_IN="24h"
PORT=3000
CORS_ORIGIN="http://localhost:5173"
